<div class="container">

    <div class="container-loans">

        <div class="loan-stat">
            <div class="heading">
                <h1 class="title">All loans</h1>
            </div>
            <div class="loan-details">
                <div class="loan-detail-child">
                    <p class="title-child">Number of Loans</p>
                    <i class="title-child-detail">35</i>
                </div>
                <div class="loan-detail-child">
                    <p class="title-child">Total Loan Value</p>
                    <i class="title-child-detail">29 Cr</i>
                </div>
            </div>
        </div>

        <div class="loan-search">
            <div class="search-bar">
                <input class="search-bar-child" type="text" placeholder="Search Loans" autocomplete="off">
            </div>
            <div class="date-pick">
                <button class="date">
                    All Time
                </button>
            </div>
        </div>

    </div>
    
    <mat-accordion class="investor-expand">
        <mat-expansion-panel>
            <mat-expansion-panel-header expandedHeight= "50px" class="panel-closed-content">
                <mat-panel-title>
                   Investor 1 
                </mat-panel-title>
                <mat-panel-description>
                    4 loans | 1.6 Cr
                </mat-panel-description>          
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header expandedHeight= "50px" class="panel-closed-content">
                <mat-panel-title>
                   Investor 2 
                </mat-panel-title>
                <mat-panel-description>
                    4 loans | 1.6 Cr
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header expandedHeight= "50px" class="panel-closed-content">
                <mat-panel-title>
                   Investor 3 
                </mat-panel-title>
                <mat-panel-description>
                    4 loans | 1.6 Cr
                </mat-panel-description>
              
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header expandedHeight= "50px" class="panel-closed-content">
                <mat-panel-title>
                   Investor 4 
                </mat-panel-title>
                <mat-panel-description>
                    4 loans | 1.6 Cr
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>
    </mat-accordion>

</div>
