<div class="container">

    <div class="investers">

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>

            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>
            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>
            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>

            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>
        
    </div>

    <div class="table-investors">

    </div>
</div>