<div class="container">

    <div class="investers">

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>

            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>
            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>
            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>

        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Product Name</p>
                <p>Product Type</p>

            </div>
            <div class="product-other-info">
                <p>Other information</p>
            </div>
        </div>
        
    </div>

    <div class="all-transaction">
        <div class="transaction-heading">
            All Transactions
        </div>
        <div class="calendar">
            All Time
        </div>
    </div>

    <div class="table-transaction">
        <app-deal-history-table></app-deal-history-table>
    </div>
</div>