table {
    width: 100%;
  }

.mat-header-row 
  {
    display: flex;
    border-width: 0;
    border-bottom-width: 1px;
    /* border-style: solid; */
    align-items: center;
    box-sizing: border-box;
    /* position: absolute; */
    width: 972px;
    height: 51px;
    /* left: 252px; */
    /* top: 265px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgb(0 0 0 / 7%);
    border-radius: 8px;
}

mat-row, mat-header-row, mat-footer-row {
  display: flex;
  border-width: 0;
  /* border-bottom-width: 1px; */
  /* border-style: solid; */
  align-items: center;
  box-sizing: border-box;
  min-height: 30px;
  background: #FFF9F9;
  width: 972px;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 24px;
  background: #fffbfb;
}
