<div class="container">
    <div class="heading">
        <h3>Investor Criterias</h3>
        <button mat-stroked-button>Add New Investor</button>
    </div>
    <div class="investers">
        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Protduct Type</p>
                <i>HL</i>
            </div>
        </div>
        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Protduct Type</p>
                <i>HL</i>
            </div>
        </div>
        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Protduct Type</p>
                <i>HL</i>
            </div>
        </div>
        <div class="investors-child">
            <div class="investor-name">
                <p>Investor 1</p>
            </div>
            <div class="product">
                <p>Protduct Type</p>
                <i>HL</i>
            </div>
        </div>
    </div>
    <div class="table-investors">

    </div>
</div>
