<div class="navigation-bar">
    <div class="navigation-menu">
        <ul>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Investors</a>
            </li>
            <li>
                <a href="#">All Loans</a>
            </li>
            <li>
                <a href="#">Approval Requests</a>
            </li>
            <li>
                <a href="#">Queries</a>
            </li>
            <li>
                <a href="#">Upload Loans</a>
            </li>
            <li>
                <a href="#">Deal History</a>
            </li>
        </ul>
    </div>
</div>
<app-add-new-investor-form></app-add-new-investor-form>

