<div class="navigation-bar">
    <div class="navigation-menu">
        <ul>
            <li>
                <a routerLink="dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="investors">Investors</a>
            </li>
            <li>
                <a routerLink="all-loans">All Loans</a>
            </li>
            <li>
                <a routerLink="approval-requests">Approval Requests</a>
            </li>
            <li>
                <a routerLink="queries">Queries</a>
            </li>
            <li>
                <a routerLink="upload-loans">Upload Loans</a>
            </li>
            <li>
                <a routerLink="deal-history">Deal History</a>
            </li>
        </ul>
    </div>
</div>
<!-- <app-add-new-investor-form></app-add-new-investor-form> -->


