<div>
    <app-header></app-header>
</div>
<div class="container">
    <div class="heading">
        <div class="heading-title">
            <h3>Create New Loan</h3>
        </div>

    </div>

    <div class="applicant-info">

        <div id="top-div">
            <div>
                <label>Applicant's Name</label>
                <input type="text" class="input" placeholder="Enter Name">
            </div>

            <div>
                <label>Other Detail</label>
                <input type="text" class="input" placeholder="Enter Value">
            </div>
        </div>

        <div>
            <div>
                <label>Loan Amount</label>
                <input type="text" class="input" placeholder="Enter Value">
            </div>

            <div>
                <label>Other Detail</label>
                <input type="text" class="input" placeholder="Enter Value">
            </div>

        </div>

        <div>
            <div>
                <label>Tenure</label>
                <input type="text" class="input" placeholder="Enter Value">
            </div>

            <div>
                <label>Other Detail</label>
                <input type="text" class="input" placeholder="Enter Value">
            </div>

        </div>

    </div>

    <div class="other-details">
        Other Details
    </div>


    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header expandedHeight="50px">
                <mat-panel-title>
                    Customer Details
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="cd-form-container">


                <div class="split left">
                    <div class="form-input">
                        <label>1. Customer Name</label>
                        <input type="text" placeholder="Enter Name">
                    </div>
                    <div class="form-input">
                        <label>2. Customer Father Name</label>
                        <input type="text" placeholder="Enter Name">
                    </div>
                    <div class="form-input">
                        <label>3. Date of Birth</label>
                        <input type="date">
                    </div>
                    <div class="form-input">
                        <label>4. Customer Type</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>5. Customer Constituition</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>6. PSL/Non-PSL</label>


                        <input type="radio" name="PSL/Non-PSL">
                        <label for="PSL" class="label-radio">PSL </label>

                        <input type="radio" name="PSL/Non-PSL">
                        <label for="Non-PSL" class="label-radio">Non-PSL </label>



                    </div>
                    <div class="form-input">
                        <label>7. Applicant's Bureau Score</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>8. Co-applicant's Bureau Score</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>



                <div class="split right">
                    <div class="form-input">
                        <label>9. Customer's Age</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>10. Yearly Income</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>11. Age on Maturity</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>12. Name of Applicant 1</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>13. DOB of Applicant 1</label>
                        <input type="date">
                    </div>
                    <div class="form-input">
                        <label>14. Gender</label>

                        <input type="radio" name="Gender">
                        <label for="Male" class="label-radio">Male </label>

                        <input type="radio" name="Gender">
                        <label for="Female" class="label-radio">Female </label>

                        <input type="radio" name="Gender">
                        <label for="Other" class="label-radio">Other </label>

                    </div>
                    <div class="form-input">
                        <label>15. Date of Incorporation</label>
                        <input type="date">
                    </div>
                    <div class="form-input">
                        <label>16. CKYC Number</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>

            </div>

        </mat-expansion-panel>

        <!-- Address Expansion panel -->

        <mat-expansion-panel>

            <mat-expansion-panel-header expandedHeight="50px">
                <mat-panel-title>
                    Address
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="add-form-container">

                <div class="split left">
                    <div class="form-input">
                        <label>1. City</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>2. State</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>3. Metro/Non-Metro</label>

                        <input type="radio" name="Metro/Non-Metro">
                        <label for="Metro" class="label-radio">Metro </label>

                        <input type="radio" name="Metro/Non-Metro">
                        <label for="Non-Metro" class="label-radio">Non-Metro </label>
                    </div>
                </div>

                <div class="split right">
                    <div class="form-input">
                        <label>4. Pin Code</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>5. Email ID</label>
                        <input type="email" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>6. Mobile Number</label>
                        <input type="number" placeholder="Enter Value">
                    </div>

                </div>

            </div>

        </mat-expansion-panel>

        <!-- KYC Details -->

        <mat-expansion-panel>
            <mat-expansion-panel-header expandedHeight="50px">
                <mat-panel-title>
                    KYC Details
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="kyc-form-container">
                <div class="split left">
                    <div class="form-input">
                        <label>1. PAN Number of Applicant 1</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>

                <div class="split right">
                    <div class="form-input">
                        <label>2. PAN Number of Applicant 2</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>
            </div>

        </mat-expansion-panel>

        <!-- Loan Details -->

        <mat-expansion-panel>
            <mat-expansion-panel-header expandedHeight="50px">
                <mat-panel-title>
                    Loan Details
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="loan-form-container">

                <div class="split left">

                    <div class="form-input">
                        <label>1. Loan Account Number</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>2. Product</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>3. Disbursed Date</label>
                        <input type="date">
                    </div>
                    <div class="form-input">
                        <label>4. Sanction Date</label>
                        <input type="date">
                    </div>
                    <div class="form-input">
                        <label>5. Sanction Amount</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>6. Disbursed Amount</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>7. IRR</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>8. Effective Rate</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>9. EMI Amount</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>10. Pemi Amount</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>11. Tenor At Disbursment</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>12. Tenor Balance</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>13. Fix Floating Rate</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>14. EMI Cycle</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>15. Loan Scheme</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>16. Future principle Outstanding</label>
                        <input type="number" placeholder="Enter Value">
                    </div>

                </div>

                <div class="split right">
                    <div class="form-input">
                        <label>17. EMI Overdue</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>18. Interest Overdue</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>19. Principal Overdue</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>20. Principal Paid</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>21. Interest Paid</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>22. Processing Fees</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>23. DPD</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>24. First EMI Date</label>
                        <input type="date">
                    </div>
                    <div class="form-input">
                        <label>25. Gross LTV</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>26. Net LTV</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>27. Replacement Mode </label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>28. IRR Type</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>29. Loan Purpose</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>30. FOIR</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>31. Disbursal Status</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>

            </div>

        </mat-expansion-panel>

        <!-- Property Details-->

        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header expandedHeight="50px">
                <mat-panel-title>
                    Property Details
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="property-form-container">
                <div class="split left">
                    <div class="form-input">
                        <label>1. Property Type</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>2. Builder Name</label>
                        <input type="text" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>3. Project Name</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>

                <div class="split right">
                    <div class="form-input">
                        <label>4. Property Value</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>5. Build up Area</label>
                        <input type="number" placeholder="Enter Value">
                    </div>
                    <div class="form-input">
                        <label>6. Construction Stage</label>
                        <input type="text" placeholder="Enter Value">
                    </div>

                </div>

            </div>

        </mat-expansion-panel>

        <!--Documents-->

        <mat-expansion-panel>
            <mat-expansion-panel-header expandedHeight="50px">
                <mat-panel-title>
                    Documents
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="documents-form-container">
                <div class="form-input">
                    <label>1. Agreement</label>
                    <input type="file" name="" id="">
                </div>
                <div class="form-input">
                    <label>2. Map of the property</label>
                    <input type="file" name="" id="">
                </div>
                <div class="form-input">
                    <label>3. Document Type 3</label>
                    <input type="file" name="" id="">
                </div>

            </div>

        </mat-expansion-panel>



    </mat-accordion>


    <app-button-common buttonText="Save the form"></app-button-common>





</div>