<header>
    <app-header></app-header>
</header>


<app-navigation-bar></app-navigation-bar>

<div class="body">

    <div class="left">
        <app-dashboard-display-widgets heading="Total Loans Uploaded" totalNumber="30" money="10.25 Cr" [widgetIcon]="faYoutube" ></app-dashboard-display-widgets>

        <app-dashboard-display-widgets heading="Soft Selection" totalNumber="30" money="10.25 Cr" [widgetIcon]="faYoutube" ></app-dashboard-display-widgets>

        <app-dashboard-display-widgets heading="Pending for Approval" totalNumber="30" money="10.25 Cr" [widgetIcon]="faYoutube" ></app-dashboard-display-widgets>

        <app-dashboard-display-widgets heading="Intent Share Recieved" totalNumber="30" money="10.25 Cr" [widgetIcon]="faHandPaper" ></app-dashboard-display-widgets>

        <app-dashboard-display-widgets heading="Pending" totalNumber="30" money="10.25 Cr" [widgetIcon]="faClock" ></app-dashboard-display-widgets>

    </div>

    <div class="right">
        <div class="right-upper">
            <app-dashboard-display-widgets heading="Total Loans Uploaded" totalNumber="30" money="10.25 Cr" [widgetIcon]="faYoutube" ></app-dashboard-display-widgets>

            <app-dashboard-display-widgets heading="Total Loans Uploaded" totalNumber="30" money="10.25 Cr" [widgetIcon]="faYoutube" ></app-dashboard-display-widgets>


        </div>
        <div class="right-lower">

        </div>

    </div>
    

</div>

