

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          
  
    
    <ng-container matColumnDef="criteria">
      <th mat-header-cell *matHeaderCellDef> Criterias </th>
      <td mat-cell *matCellDef="let element"> {{element.criteria}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="invester_1">
      <th mat-header-cell *matHeaderCellDef> Invester 1 </th>
      <td mat-cell *matCellDef="let element"> {{element.investor_1}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="invester_2">
      <th mat-header-cell *matHeaderCellDef>  Invester 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.investor_2}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="invester_3">
      <th mat-header-cell *matHeaderCellDef> Invester 3</th>
      <td mat-cell *matCellDef="let element"> {{element.investor_3}} </td>
    </ng-container>

    <ng-container matColumnDef="invester_4">
        <th mat-header-cell *matHeaderCellDef>  Invester 4 </th>
        <td mat-cell *matCellDef="let element"> {{element.investor_4}} </td>
      </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
