<div class="container">

    <div class="approval-card">
        <div class="heading-section">
            <h1 class="heading">Approval Requests</h1>
            <span class="num-approval">45</span>
        </div>

        <mat-button-toggle-group #toggleBtn="matButtonToggleGroup" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle [disableRipple]="true" class="toggle-investors" value="investor_1">Investor 1</mat-button-toggle>
            <mat-button-toggle [disableRipple]="true" class="toggle-investors" value="investor_2">Investor 2</mat-button-toggle>
            <mat-button-toggle [disableRipple]="true"class="toggle-investors" value="investor_3">Investor 3</mat-button-toggle>
            <mat-button-toggle [disableRipple]="true"class="toggle-investors" value="investor_4">Investor 4</mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <mat-accordion class="investor-expand">
        <mat-expansion-panel  class="mat-elevation-z0" expanded="true">
            <mat-expansion-panel-header class="panel-closed-content">
                <mat-panel-title>
                   Investor 1 
                </mat-panel-title>
                <mat-panel-description>
                    4 loans | 1.6 Cr
                </mat-panel-description>
              
            </mat-expansion-panel-header>
            <div>
                <app-approval-request-table></app-approval-request-table>
            </div>
            
        </mat-expansion-panel>
   </mat-accordion>

    
    
</div>

