@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';

}

.container{
    background: #EFF3F6;
    width: 82%;
    height: auto;
    margin-left: 18%;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 500px;
    
}

.queries {
    display: flex;
    width: 90%;
    height: 32%;
    justify-content: space-between;
    margin-top: 50px;
    
    
}

.all-queries-card {
    width: 60%;
    height: 245px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.upper{
    flex: 1;
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    justify-content: space-around;
}

.lower{
    flex: 1;
}

.title h1 {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 10px;
    color: #313942;
}

.query-response {
    display: flex;
}

.all-queries-graph {
    height: 100%;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    margin-left: 35px;
}
 app-queries-graph{
    height: 100%;
 }

.query-answered {
    display: flex;
    align-items: baseline;
}

.query-answered p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #566270;
    padding-right: 10px;
}

.query-answered i {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #F66B4E;
    padding-right: 30px;

}

.investor-expand {
    width: 90%;
    height: 51px;
    background: #EFF3F6;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    margin-top: 20px;
    
}

.mat-expansion-panel {
    margin: 5px 0px; 
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07);
 }
 
 ::ng-deep .mat-expansion-panel-body {
     padding: 0;
     margin: 0;
     background: #FFF9F9;
 }

.mat-expansion-panel-header {
     background: #FFFFFF;
     box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07);
     border-radius: 8px;
     height: 55px;
 }
