<div class="container">

    <div class="queries">

        <div class="all-queries-card">
            <div class="upper">
                <div class="title">
                    <h1>All Queries</h1>
                </div>
    
                <div class="query-response">
                    <div class="query-answered">
                        <p>Answered</p>
                        <i>64</i>
                    </div>
                    <div class="query-answered">
                        <p>Unanswered</p>
                        <i>22</i>
                    </div>
                </div>

            </div>
            <div class="lower">

            </div>
            

        </div>

        <div class="all-queries-graph">
            <app-queries-graph></app-queries-graph>
        </div>

    </div>

    <mat-accordion class="investor-expand">

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
            <mat-expansion-panel-header class="panel-closed-content">
                <mat-panel-title>
                    Investor 1
                </mat-panel-title>
                
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
            <mat-expansion-panel-header class="panel-closed-content">
                <mat-panel-title>
                    Investor 2
                </mat-panel-title>
               
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
            <mat-expansion-panel-header class="panel-closed-content">
                <mat-panel-title>
                    Investor 3
                </mat-panel-title>
            
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
            <mat-expansion-panel-header class="panel-closed-content">
                <mat-panel-title>
                    Investor 4
                </mat-panel-title>
          
            </mat-expansion-panel-header>
            <app-loan-table></app-loan-table>
        </mat-expansion-panel>

    </mat-accordion>

</div>